#ac_grid {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
}

.calendarTable {
  width: -webkit-fill-available;
  min-width: 60%;
  position: relative;
}

@media(max-width:767px) {
  .calendarTable {
    width: 100%;
  }
}

.Timezone>p {
  font-size: 11px;
  margin: -5px;
}

#timeLabelColumn {
  font-size: 11;
  float: left;
  margin-right: 2px;
}

#timeLabelColumn {
  column-count: 1;
  text-align: center;
}

#timeLabelColumn>div {
  margin: 2px 0;
  min-height: 40px;
  user-select: none;
}

#timeLabelColumn>.time {
  font-size: 13px;
  margin: 0;
  padding: 0;
  height: 40px;
}

.calendarTable>button {
  background: none;
  border: none;
  color: gray
}

.calendarTable>button:hover {
  color: #4cb69f;
}

.l {
  position: absolute;
  font-size: 20px;
  left: auto;
  right: 100%;
  top: 50%;
}

.r {
  position: absolute;
  font-size: 20px;
  left: 100%;
  top: 50%;
  /* margin-left: 5px */
}