.reg {
  height: 19px;
  text-align: center;
  vertical-align: middle;
  /* background-color: ; */
  /* border: inset black 1px; */
}

.hourblock {
  margin: 0;
  display: block;
  border: .1px inset rgb(185, 185, 185)
}