/* added this styling so that components will fit the entire container */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
    width: 750px;
    /* border: 15px solid green; */
    padding: 50px;
    margin: 20px;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 36px;
    
  }

  body {
    /* background-color: brown; */
    background-color: #cbf4fb;
  }

  .LoginButton, .SignupButton {
    width: 250px;
    margin: 20px 300px;
    display: inline-block;
    padding: 10px;
    border: solid 1px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 18px;
    color: black;
    background-color: yellow;

  }
  .LoginButton:hover, .SignupButton:hover{
      background-color: lightblue;
  }

  
