.teamPhoto {
    width: 100px;
    height: 100px;   

}

.card-action {
    float: left;
    padding: 15px;

}

.card {
    width: 150px;
    
}

.social{
    size: 200px;
}


.aboutusContainer{
    background-color: whitesmoke;
    color: #4CB69F;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px;
}